@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu-Light"), url("fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Ubuntu-LightItalic"),
    url("fonts/Ubuntu-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu-Regular"),
    url("fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu-Italic"), url("fonts/Ubuntu-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu-Medium"), url("fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: local("Ubuntu-MediumItalic"),
    url("fonts/Ubuntu-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu-Bold"), url("fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu-BoldItalic"),
    url("fonts/Ubuntu-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: local("UbuntuMono-Regular"),
    url("fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 400;
  src: local("UbuntuMono-Italic"),
    url("fonts/UbuntuMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 700;
  src: local("UbuntuMono-Bold"),
    url("fonts/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 700;
  src: local("UbuntuMono-BoldItalic"),
    url("fonts/UbuntuMono-BoldItalic.ttf") format("truetype");
}

body {
  font-size: 9pt;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", san-serif;
  font-weight: 400;
}
/* config all */
@page {
  margin-top: 10mm;
  margin-bottom: 15mm;
  margin-left: 10mm;
  margin-right: 10mm;
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.logo {
  float: left;
}
.logo img {
  height: 1.7cm;
}
.kop {
  margin-top: 2pt;
  margin-left: 48pt;
}
.teks-kop {
  margin: 0;
  padding: 0;
}
.kop-1 {
  line-height: 12pt;
  font-size: 12pt;
  font-weight: 500;
}
.kop-2 {
  font-weight: 400;
  line-height: 12pt;
  font-size: 12pt;
  font-weight: 400;
}
hr {
  margin: 4pt 0;
}
header table tr td {
  line-height: 10pt;
  /* border: 1px solid black; */
}
.kop-pesantren {
  font-family: "Ubuntu", sans-serif;
  float: left;
}

/* ABSEN MUSYAWARAH */
.form-container {
  margin: 0 auto;
}
main table tr td {
  border: 0.5pt solid rgb(144, 144, 144);
  padding: 0;
  margin: 0;
  line-height: 12pt;
  vertical-align: top;
  text-align: center;
}
.italic {
  font-style: italic;
}
.text-left {
  text-align: left;
  padding-left: 2mm;
}
.col-left {
  text-align: left;
}
.col-no {
  width: 7mm;
}
.col-tanggal {
  width: 10mm;
  vertical-align: top;
}
.col-idsantri {
  width: 10mm;
}
.col-nama {
  padding-left: 2mm;
  width: 46mm;
  text-align: left;
}
.col-domisili {
  width: 10mm;
}
.col-izin {
  width: 6mm;
}
.spasi {
  width: 1mm;
  border: none;
}
table {
  border-collapse: collapse;
}
.noborder1 {
  border: 0;
}
.noborder {
  border: 0;
  font-weight: bold;
}
.table2 table tr td {
  height: 5mm;
}

/* INDISIPLINER DAN SLOW*/
.col-no2 {
  width: 7mm;
}
.col-nama2 {
  width: 47mm;
}
.col-domisili2 {
  width: 13mm;
}
.col-pelanggaran {
  width: 40mm;
}
.col-penanganan {
  width: 40mm;
}
.col-keterangan {
  width: 32mm;
}

/* KENDALA DAN USULAN/SARAN */
.judul-kendalausulan {
  padding: 0;
  margin: 0;
}
.kendala tr td {
  border-top: none;
  border-left: none;
  border-right: none;
}
.col-nomorkendala {
  border-bottom: none;
}
.col-kendala {
  border-bottom: 1px dashed rgb(144, 144, 144);
}
