@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu-Light"), url("fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Ubuntu-LightItalic"),
    url("fonts/Ubuntu-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu-Regular"),
    url("fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu-Italic"), url("fonts/Ubuntu-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu-Medium"), url("fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: local("Ubuntu-MediumItalic"),
    url("fonts/Ubuntu-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu-Bold"), url("fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu-BoldItalic"),
    url("fonts/Ubuntu-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: local("UbuntuMono-Regular"),
    url("fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 400;
  src: local("UbuntuMono-Italic"),
    url("fonts/UbuntuMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 700;
  src: local("UbuntuMono-Bold"),
    url("fonts/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 700;
  src: local("UbuntuMono-BoldItalic"),
    url("fonts/UbuntuMono-BoldItalic.ttf") format("truetype");
}

body {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

/* config all */
@page {
  margin: 10mm 25mm;
  margin-top: 12mm;
  padding: 0;
}
header {
  height: 2.5cm;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.logo,
.kop {
  float: left;
}
.logo img {
  height: 2.25cm;
}
.kop {
  margin-top: 2pt;
  margin-left: 10pt;
}
.teks-kop {
  margin: 0;
  padding: 0;
}
.kop-1 {
  line-height: 16pt;
  font-size: 16pt;
  font-weight: 400;
}
.kop-2 {
  line-height: 12pt;
  font-size: 16pt;
  font-weight: 500;
  margin-bottom: 4pt;
}
.kop-3,
.kop-4 {
  line-height: 9pt;
  font-size: 9pt;
  font-weight: 300;
}
hr {
  margin: 8pt 0;
}

/* SURAT IZIN BERHENTI */
.form-container {
  margin: 0 auto;
}
.heading-surat {
  margin-top: 10pt;
}
.pembuka-sboyong p {
  margin: 8px 0;
}
.h3 {
  margin: auto;
  margin-top: 8px;
  padding-left: 1px;
  font-size: 10pt;
  font-weight: 500;
}
.text-center {
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
}
main table tr td {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  line-height: 15px;
  vertical-align: top;
}
.col-label {
  width: 30mm;
  font-weight: 400;
  font-style: italic;
}
.col-label3 {
  width: 20mm;
  font-weight: 400;
  font-style: italic;
}
.spasi-td {
  width: 10mm;
}
h2 {
  font-size: 13pt;
  margin: 3px auto;
  margin-bottom: 0;
  text-align: center;
}
.tgl-diterima {
  text-align: center;
  margin: 11px 0 12px 0;
}
.alasan-berhenti p {
  margin-bottom: 0;
}
.ttd-pengurus {
  margin: auto;
}
.ttd-pengurus p {
  text-align: center;
}
.ttd-kolom {
  margin: auto;
}
.col-ttd {
  width: 45mm;
  text-align: center;
}
.border-top-ttd {
  border-top: 1px dashed rgb(143, 143, 143);
  height: 2mm;
}
footer {
  margin-top: 14pt;
  font-size: 8pt;
  line-height: 9pt;
}
footer p {
  margin: 0;
}
footer table tr td {
  line-height: 9pt;
}
