@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu-Light"), url("fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Ubuntu-LightItalic"),
    url("fonts/Ubuntu-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu-Regular"),
    url("fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu-Italic"), url("fonts/Ubuntu-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu-Medium"), url("fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: local("Ubuntu-MediumItalic"),
    url("fonts/Ubuntu-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu-Bold"), url("fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu-BoldItalic"),
    url("fonts/Ubuntu-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: local("UbuntuMono-Regular"),
    url("fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 400;
  src: local("UbuntuMono-Italic"),
    url("fonts/UbuntuMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  src: local("UbuntuMono-Bold"),
    url("fonts/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 700;
  src: local("UbuntuMono-BoldItalic"),
    url("fonts/UbuntuMono-BoldItalic.ttf") format("truetype");
}

body {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

/* config all */
@page {
  margin: 8mm 22mm;
  padding: 0;
}
header {
  height: 2.5cm;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.logo,
.kop {
  float: left;
}
.logo img {
  height: 1.8cm;
}
.kop {
  margin-top: 2pt;
  margin-left: 10pt;
}
.teks-kop {
  margin: 0;
  padding: 0;
}
.kop-1 {
  line-height: 16pt;
  font-size: 16pt;
  font-weight: 400;
}
.kop-2 {
  line-height: 12pt;
  font-size: 16pt;
  font-weight: 500;
  margin-bottom: 4pt;
}
.kop-3 {
  line-height: 6pt;
  font-size: 7pt;
  font-weight: 300;
}
hr {
  margin: 5pt 0;
}
/* SURAT IZIN PULANG */
.form-container {
  margin: 0 auto;
}
.pembuka-sboyong p {
  margin: 6pt 0;
}
main table tr td {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  line-height: 10.5pt;
  vertical-align: top;
}
.col-label {
  width: 23mm;
  font-weight: 400;
  font-style: italic;
}
h2 {
  margin: 2pt auto;
  margin-bottom: 0;
}
.tgl-surat {
  margin: 0 0 8pt 0;
}
.alasan-berhenti p {
  margin-bottom: 0;
  margin-top: 5pt;
}

.border-bottom-ttd {
  margin: 0 2pt;
  border-bottom: 0.7pt dashed black;
  height: 40pt;
  width: 120pt;
}
footer {
  padding: 0;
  margin: 10pt 0 0 0;
  font-size: 9pt;
  line-height: 10pt;
}
footer p {
  margin: 0;
}
